@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.bar{
  
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    font-family: "Noto Serif", serif;
    justify-content: space-between;
  h1{
    font-size: 2.9rem;
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: 0px;
  }
  .slide{
    letter-spacing: .1rem;
    color: #333;
    text-decoration: none;
  }
}